<body>

 <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">

       <%= image_tag "newsplash.png" %>
   </div>

   <div class="container">
     <!-- Example row of columns -->
     <div class="row">
       <div class="col-md-8">
         <h3>Kidify streamlines communications for busy parents. Upload documents, sync calendars, track to-do lists, log behavior, share photos, and more with between parents, relatives, caregivers, and anyone else you share your Kidify link with.</h3>
         <p><a class="btn btn-default" href="#" role="button">Sign Up</a></p>
      </div>
     </div>

     <hr>

     <footer>
       <p>Kelly Bristol for The Iron Yard 2015</p>
     </footer>
   </div> <!-- /container -->


<!-- <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p> -->
