<header class="image-bg-fluid-height">
  <%= image_tag "newsplash.png" %>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
    <h3>Kidify centralizes communications between busy parents and caregivers.</h3>
    <h3>Kidify allows you to upload documents, create calendars, make to-do lists, log behavior, and more with anyone you share your Kidify link with.</h3>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Take a Tour</a></p> -->
  </div>
</div>
<!-- <p>Users: <%= User.count %> registered</p> -->
