<% content_for :title do %>About<% end %>
<header class="image-bg-fluid-height">
    <%= image_tag "newsplash.png" %>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Kidify. The convenience of social media, with the security and peace of mind you deserve.</h3>
    <p>
    This Ruby on Rails application was created for
    <%= link_to('The Iron Yard', 'http://www.theironyard.com') %>
    by <%= link_to('Kelly Bristol', 'https://github.com/cateia97') %>.
    </p>
    <p>I came up with the concept for Kidify after watching my partner and his ex-wife struggle to coordinate schedules and various information for their 4-year-old autistic son. For a while, communication was practically non-existent. Keeping up-to-date with prescriptions, dietary changes, and therapy goals was a nightmare. They tried utilizing Google Drive and Google Calendar, but my partner quickly found that his contributions could be edited or even deleted.</p>
    <p>Initially, Kidify was intended to help separated parents co-parent more effectively. As I went through the initial concept phase, I reached out to my social media networks and found many parents (separated or not) were interested in using Kidify as a way to share milestones, photos, etc. with family without the hassle of larger social media networks (and their intrusive data collection policies). Other parents of children with special needs felt Kidify could satisfy a need to share information with teachers, daycare providers, and therapists without needing to exchange stacks of papers, which we all know become lost in a flash! With this feedback, Kidify has been designed with flexibility and security in mind. Use it how it works best for you! YOU control who gets access to your Kidify, and YOU choose what to upload.</p>
   </div>
  </div>
