@import "bootstrap-sprockets";
@import "bootstrap";

// Site Colors
// Bone: #e2d7c9
// Mint: #83c2a3
// Salmon: #e69a80
// Cinnamon: #d64820
// Gold: #ddb93f
// Navy: #00263d

img {
  @extend .img-responsive;
  margin: 0 auto;
  }

.navbar-brand {
  font-size: inherit;
  }

.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

main {
  @extend .container;
  background-color: #e2d7c9;
  padding-bottom: 80px;
  width: auto;
  margin-top: 51px;
  padding-left: 0px;
  // padding-right: 0px;
}

section {
  @extend .row;
  margin-top: 20px;
  }

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}
