.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  /*display: none;*/
}

@media (min-width: 768px) {
  .sidebar {
    /*position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-y: auto;*/

    padding: 10px;
    overflow-x: hidden;
    background-color: #83c2a3;
    border-right: 1px solid #00263d;
    border-bottom: 1px solid #00263d;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 10px;
  padding-left: 10px;
  color: #00263d;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #d64820;
}

@media (min-width: 768px) {
  .main {
    /*padding-right: 40px;
    padding-left: 40px;*/
  }
}
.main .page-header {
  margin-top: 5px;
}

.today {
  margin-bottom: 30px;
  text-align: center;
}
.today h4 {
  margin-bottom: 0;
}
.today {
  margin-bottom: 20px;
}
.today img {
  display: inline-block;
  border-radius: 50%;
}
